* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(84, 137, 207);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(65, 65, 65);
  font-size: 22px;
}

#content {
  background-color: white;
  width: 60%;
  margin: 100px auto;
  text-align: center;
  border-radius: 15px;
}

#header {
  background-color: rgb(219, 219, 219);
  height: 80px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#title {
  padding-top: 15px;
  color: rgb(84, 137, 207);
}

#score-section {
  margin-left: 80%;
}

#score {
  color: rgb(84, 137, 207);
  font-size: 26px;
}

#color-options {
  margin-top: 15px;
  margin-bottom: 75px;
}

#btn-section {
  margin-top: 120px;
  padding-bottom: 25px;
}

#btn-section button {
  font-size: 18px;
  font-weight: 700;
  color: rgb(65, 65, 65);
  padding: 10px;
  background-color: rgb(219, 219, 219);
  border: 2px solid rgb(219, 219, 219);
  border-radius: 4px;
}

.ball {
  display: inline-block;
  border: 3px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
