body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: rgb(206, 200, 200);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  height: 100px;
  background-color: rgb(46 , 70 , 130);
}

h1, h4 {
  color: white;
  margin-top: 0;
  padding-top: 30px;
}

button {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: white;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.color {
  border: 2px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.pixel {
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

/* https://www.tutorialrepublic.com/faq/how-to-remove-the-space-between-inline-block-elements-in-css.php */
.line {
  font-size: 0;
}

#color-palette {
  margin-top: 25px;
}

#black-color {
  background-color: black;
}

 #pixel-board {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

#inputs {
  margin-top: 25px;
}

#input-board {
  display: inline-block;
  margin-right: 70px;
}

#clear-board {
  margin-top: 15px;
  font-size: 16px;
  padding: 8px 30px;
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(180, 0, 0);
}


#generate-board {
  margin-left: 5px;
  padding: 5px 15px;
  background-color: green;
  border: 2px solid rgb(0, 80, 0);
}

#more-color {
  background-color: rgb(58, 120, 192);
  margin-right: 15px;
  padding: 10px 30px;
  border: 2px solid rgb(33, 80, 133);
}
